@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* ELEMENT SELECTORS */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
}

header,
footer {
  margin: 0.75rem 0;
  padding: 0.75rem;
}



/* CLASS SELECTORS */
.pixels {
  background-color: white;
  border: 1px solid #ccc;
}

.title,
.copyright {
  display: block;
  text-align: center;
}

.slider{
  width: 500px;
}

.color-pick {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.5s;
}
.color-pick::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  padding: 0;
}
.color-pick::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50px;
  padding: 0;
}

.btn{
  background-color: transparent;
  padding: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.btn:hover,
.color-pick:hover {
  scale: 1.25;
  z-index:2;
}

.btn:active{
  scale: 1.20;
}

.black{
  background-color: #000;
  color: #fff;
}

.rainbow{
  background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 33%, #fc4f4f 66%, #00c0ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slidebg 15s linear infinite;
  color: #fff;
}

.rainbow:hover{
  animation: slidebg 5s linear infinite;
}

@keyframes slidebg{
  to{
    background-position: 20vw;
  }
}

.eraser{
  border: 2px solid #000;
  background-size: 200%;
  background-position: 0%;
}

.eraser:hover {
  box-shadow: inset 400px 0 0 0 #fff;
  color: #fff;
}

/* ID SELECTORS */

#etch-a-sketch {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#controls {
  width: 500px;
  height: 50px;
  border: 2.5px solid black;
  display: flex;
  align-items: center;
  justify-content:space-around
}

#slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.gridInfo{
  font-weight: bold;
}


#canvas {
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 2.5px solid black;
  height: 500px;
  width: 500px;
}